@using System.Globalization;



<h3>Time: @Model.Created1.ToString(CultureInfo.InvariantCulture) @Model.Temp1 C <img src=@Model.Icon1></h3> 
<h3>Time: @Model.Created2.ToString(CultureInfo.InvariantCulture) @Model.Temp2 C <img src=@Model.Icon2></h3>
<h3>Time: @Model.Created3.ToString(CultureInfo.InvariantCulture) @Model.Temp3 C <img src=@Model.Icon3></h3>
<h3>Time: @Model.Created4.ToString(CultureInfo.InvariantCulture) @Model.Temp4 C <img src=@Model.Icon4></h3>
<h3>Time: @Model.Created5.ToString(CultureInfo.InvariantCulture) @Model.Temp5 C <img src=@Model.Icon5></h3>


